# Optional. If unset, the library uses sensible defaults:
#   primary: https://freetsa.org/tsr
#   backup:  https://tsa.swisssign.net/
TSA_PRIMARY_URL=https://freetsa.org/tsr
TSA_BACKUP_URL=https://tsa.swisssign.net/
